body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pizza-image {
 
  justify-self: center;
  height: 12rem;
  width: auto;
}

.div_home_image {
  float: left;
  width: 50%;
}
.home_image {
  
  height: 500px;
  width: auto;
}
.home_paragraph {
  float:right;
  margin-right: auto;
  width: 45%;
}

td {
  text-align: center;
}

table {
  margin: 0 auto;
}